
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="shortcut icon" href="~/Content/TitleIcon.png" />
    <link href="~/Content/Home.css" rel="stylesheet" />
</head>

<body>
    <h1>WELCOME</h1>
    <div>
        <table>
            <tr>
                <td style="width: 50%;"><a href="~/Convertor/Temp"><button>Temperature Convertor</button></a></td>
                <td><a href="~/Convertor/Circle"><button>Find Area</button></a></td>
            </tr>
        </table>
    </div>
</body>
</html>
