
@{
    ViewBag.Title = "Square";
    Layout = "~/Views/Shared/_Arealayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Square</title>
    <link rel="shortcut icon" href="~/Content/TitleIcon.png" />
    <link href="~/Content/Area.css" rel="stylesheet" />
    <script src="~/Scripts/tool.js"></script>
</head>

<body>
    <h1>Area of Square</h1>

    <div class="radio">
        <label>Length of the Side in Meter</label>
    </div>

    <input type="number" id="sq" min="1" autofocus />
    <br />
    <br />
    <br />
    <button onclick="squareArea()" accesskey="c">Calculate</button>
    <br /><br />
    <h2 id="dis"></h2>
</body>
</html>

